/* 
Challenge:
1. Use comments to divide up the CSS
   into segments.
⚠️ Don't use too many comments!
*/

body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin:0;
}

/* links */
.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}
.btn-mid {
    background-color: #f0e0ff;
    color: #5f29a3;
}
.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}
.btn-dark:hover,
.btn-mid:hover,
.btn-light:hover,
.btn-dark:active,
.btn-mid:active,
.btn-light:active{
    background-color: #f3e885;
    color: #2b283a;
}

.btn-dark,
.btn-mid,
.btn-light{
    display: inline-block;
    margin: 5px;
    padding: 10px 19px 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}
/* layout */
p {
    line-height: 23px;
}
header{
    background-color: #5f29a3;
    padding: 45px 0;
}

section{
    padding: 45px 0;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.main-image{
    width:100%;
}

.section-two {
    color: whitesmoke;
    background-color: #5f29a3;
}

.feature-img {
    width: 300px;
    border-radius: 4.6px;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

footer{
    padding: 45px 0;
    text-align: center;
    font-size: 16px;
    color: #5f29a3;
}
